export(datacleaner_addin)
import(shiny)
import(miniUI)
importFrom(DT, DTOutput, renderDT, datatable)
importFrom(httr2, request, req_headers, req_body_json, req_perform, resp_body_json)
importFrom(readr, read_csv, locale)
importFrom(readxl, read_excel)
importFrom(rstudioapi, insertText, getActiveDocumentContext)
importFrom(jsonlite, fromJSON, toJSON)
importFrom(yaml, read_yaml, write_yaml)
